.game__start
{
    width: 470px;
    background: rgb(64,199,129);
    height: 50px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    text-shadow: 0 -1px 1px grey;
    box-shadow: -1px -1px 16px 0px #009b0d98 inset;
    margin: 5px;
}

.game__start:hover
{
    background: rgb(53, 167, 110); 
}

.game__start:active
{
    background: rgb(33,147,90);
}
